aside {
    position: absolute;
    border: solid 3px #ccc;
    margin: 20px;
    padding: 20px;
    max-width: 425px;
    background-color: #fff;
    right: -50%;
    width: 300px;
    top: -20px;
  }